body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  color: #ffffff;
  /* min-height: 640px; */
  box-shadow: 1px 0 30px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #4b4b4b;
}

.sidebar ul {
  list-style: none;
  padding: 2px;
}

.sidebar li {
  margin-bottom: 25px;
  background-color: #ffffff;
  padding: 10px;
  width: 224px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
}

.color {
  color: #4b4b4b;
}

.sidebar a {
  text-decoration: none;
  color: #4b4b4b;
}

.sidebar li:hover {
  background-color: #ebf3e8;
}

/* header {
  background-color: #ffffff;
  box-shadow: 1px 0 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
} */

.content {
  flex: 1;
  padding: 20px;
}

.content {
  background-color: #ffffff;
}
